body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-weebly {
    color: #FF7F50;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;

}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}




.f-info-socials i {
    margin-right: 1rem;
    font-size: 1.2rem;

}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */

.listing-card {
    border: none !important;
    margin-bottom: 2rem !important;

}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.listing-link {
    text-decoration: none;
}



/* Card Effect */
.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;

}

/* New Page */

.add-btn {
    background-color: #FF7F50 !important;
    color: #fff !important;
    transition: border-radius 0.5s ease !important;
}

.add-btn:hover {
    background-color: #FF7F50 !important;
    color: #fff !important;
    border-radius: 5rem !important;
}




/* show page */

.show-img {
    height: 30vh;

}


.btn1 {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

.heading {
    text-align: center !important;
    margin-top: 40px !important;
    font-weight: 700 !important;
}

.form-container {
    text-align: left !important;
    max-width: 500px !important;
    margin: 40px auto !important;
    padding: 20px !important;
    background-color: white !important;
    border-radius: 10px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}

/*  Edit Page +Show page*/

.deledit {
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: center;
    display: row !important;
}

.edit-btn {

    background-color: #FF7F50 !important;
    border: none !important;
    color: white !important;
    transition: border-radius 0.5s ease !important;

}

.edit-btn:hover {
    background-color: #FF7F50;
    color: #fff;
    border-radius: 3rem;
}

.delete-btn {
    border: none !important;
    color: white !important;
    transition: border-radius 0.5s ease !important;

}

.delete-btn:hover {
    border: none !important;
    color: white !important;
    border-radius: 5rem;

}

.sub-btn {
    transition: border-radius 0.5s ease !important;
}

.sub-btn:hover {
    border-radius: 5rem;
}

/* Map */
#map {
    height: 400px;
    width: 85vh;
}

.originalImage {
    height: 150px;
    width: 150px;
}