<% layout('/layouts/boilerplate') -%>

    <style>
        .loginbtn {
            background-color: #FF7F50;
            color: #fff;
            transition: border-radius 0.5s ease;
        }

        .loginbtn:hover {
            background-color: #FF7F50;
            color: #fff;
            border-radius: 5rem;
        }
    </style>
    <div class="heading">
        <h1> Log In To Ridelo </h1>
        <div class="form-container">
            <form action="/login" method="post" class=" needs-validation" novalidate>

                <div class="mb-3">
                    <lable for="Username" class="form-label">Username</lable>
                    <input type="text" name="username" class="form-control" required>
                    <div class="valid-feedback"> Looks Good!</div>
                </div>


                <div class="mb-3">
                    <lable for="password" class="form-label">Password</lable>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <button class="btn   loginbtn"> Log In</button>



            </form>
        </div>
    </div>